body {font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFF;}

a {text-decoration: none;}

ul {list-style: none;}

/* -----header----- */
.header-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-color {
    color: #2e2f42;
}

.header-nav-link {
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus{
    color: #404BBF;
}

.header-address {
    font-style: normal;
}

.header-address-link {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF
}
/* -----header----- */

/* -----hero-section----- */
.hero {background: #2E2F42;}

.hero-title {color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn { color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF
}
/* -----hero-section----- */

/* -----feautures-section----- */
.feautures-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.feautures-name-describe {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* -----feautures-section----- */

/* -----our-team-section----- */
.team {
    background-color: #F4F4FD;
}

.team-haeder {color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize
}

.team-list-item{
    background-color: #FFFFFF;
}

.team-list-item-name {
    color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
}

.team-list-item-job {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* -----our-team-section----- */

/* -----our-portfolio-section----- */
.portfolio-header {
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list-item-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-list-item-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* -----our-portfolio-section----- */

/* -----footer----- */
.footer {
    background:#2E2F42;
}

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-color {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* -----footer----- */